build/tmp/compileJava/previous-compilation-data.bin
/.gradle/8.8/checksums
/.gradle
/.idea
/.idea
.idea/.name
.idea/compiler.xml
.idea/gradle.xml
.idea/jarRepositories.xml
.idea/misc.xml
.idea/modules.xml
.idea/modules/ChatForVoiceChatGroup.main.iml
.idea/vcs.xml
